<nav class="center">[<a href="/">トップ</a>]</nav>

<header>
  <div class="c">
    <h1 id="topTitle">企画作成フォーム</h1>
  </div>
</header>

<div class="c">
  <div class="row">
    <%= form_with url: "/events", method: :post do |form| %>
      <table class="entryFormTable create" >
        <tr>
          <td><%= form.label :title, "名前" %></td>
          <td><%= form.text_field :title, value: "famas", required: true %> <span class="red">※必須</span></td>
        </tr>
        <tr>
          <td><%= form.label :owner, "主催者" %></td>
          <td><%= form.text_field :owner, value: "ownername", required: true %> <span class="red">※必須</span></td>
        </tr>
        <tr>
          <td><%= form.label :place, "開催地" %></td>
          <td><%= form.text_field :place, value: "開催地", required: true %> <span class="red">※必須</span></td>
        </tr>
        <tr>
          <td><%= form.label :setup_time, "集合時刻" %></td>
          <td><%= form.text_field :setup_time, value: "10:00", required: true %> <span class="red">※必須</span></td>
        </tr>
        <tr>
          <td><%= form.label :break_time, "解散時刻" %></td>
          <td><%= form.text_field :break_time %></td>
        </tr>
        <tr>
          <td><%= form.label :setup_place, "集合場所" %></td>
          <td><%= form.text_field :setup_place %></td>
        </tr>
        <tr>
          <td><%= form.label :deadline, "募集締め切り" %></td>
          <td><%= form.text_field :deadline %></td>
        </tr>
        <tr>
          <td><%= form.label :contact_to, "お問い合わせ先" %></td>
          <td><%= form.text_field :contact_to %></td>
        </tr>
        <tr>
          <td><%= form.label :limit, "募集定員" %></td>
          <td><%= form.text_field :limit, type: :number, min: 0 %></td>
        </tr>
        <tr>
          <td><%= form.label :x_day, "開催日" %></td>
          <td><%= form.text_field :x_day, type: :date, required: true %> <span class="red">※必須</span></td>
        </tr>
        <tr>
          <td><%= form.label :locale, "地域" %></td>
          <td><%= form.select :locale, ["北海道", "東北", "関東・甲信越", "東海・中部・北陸", "関西", "中国・四国", "九州・沖縄", "リモート"].map.with_index{|a,i| [a, i]} %></td>
        </tr>
        <tr>
          <td><%= form.label :status, "状態" %></td>
          <td><%= form.select :status, ["開催予定", "未定", "審議中", "中止"].map.with_index{|a,i| [a, i]} %></td>
        </tr>
        <tr>
          <td><%= form.label :description, "短い概要" %></td>
          <td><%= form.text_area :description, size: "60x2" %></td>
        </tr>
        <tr>
          <td><%= form.label :body, "詳細" %></td>
          <td><%= form.text_area :body %></td>
        </tr>
        <tr>
          <td><%= form.label :password, "パスワード" %></td>
          <td><%= form.text_field :password, type: :password, minlength: 4, value: "1234" %></td>
        </tr>
      </table>

      <%= form.submit "送信" %>
    <% end %>
  </div>
</div>
